*{
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.header{
    padding: 10px;
    text-align: center;
    background: #1abc9c;
    color: white;
}

.header h1 {
    font-size: 30px;
}

.navbar{
    overflow: hidden;
    background-color: black;
}

.navbar a{
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 40px;
    text-decoration: none;
}

.navbar a.right {
    float: right;
}

.navbar a:hover{
    background-color: #ddd;
    color: black;
}

.row{
    display: flex;
    flex-wrap: wrap;
    height: 400px;
}

.main {
    flex: 100%;
    background-color: white;
    padding: 100%;
    height: 400px;
}

.footer{
    padding: 10px;
    text-align: center;
    background: #ddd;
}

iframe{
    border-top: #FFFFFF 1px;
    border-right: #FFFFFF 2px;
    height: 400px;
    width: 100%;
}
